.price__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.price__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.price__subtitle {
    margin-top: 3rem;
}

.price__name {
    font-weight: 400;
    width: 80%;
}

.price__subscribe {
    font-size: .9rem;
    font-weight: 400;
    width: 100%;
    text-align: end;
}

@media screen and (max-width: 425px){
    .price__name {
        width: 60%;
    }
}